

.cs-share {
    margin: 0px 0px 0px 0px;
    font-size: 15px;
    padding: 40px 0px 55px 0px;
    background: rgb(236, 56, 62);
    color: #FFEB3B;
    text-align: center;
}


.cs-fb {
    border: 0px;
    background: transparent;
    color: #FFEB3B;
    font-size: 10px;
}


.cs-fb-icon{
    border: 0px;
    background: transparent;
    color: #FFEB3B;
    font-size: 40px;
}


.cs-twit {
    border: 0px;
    background: transparent;
    color: #FFEB3B;
    font-size: 10px;
}


.cs-twit-icon{
    border: 0px;
    background: transparent;
    color: #FFEB3B;
    font-size: 40px;
}


